.text
{
	float: top;
	width: 119px;
	margin-top: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	line-height: 14px;
	word-wrap: break-word;
	overflow: hidden;
	margin-bottom: 3px;
}
A.link
{
	color: #000000;
	text-decoration: none;
}
.image
{
	float: top;
	width: 119px;
	height: 89px;
	border: 1px solid #000000;
	text-align: center;
	background-color: #eee;
}
* html .image
{
	float: top;
	width: 123px;
	height: 93px;
	border: 1px solid #000000;
	text-align: center;
	background-color: #eee;
}
.scroller
{
	border: 1px solid transparent;
}
.page
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 470px;
	height: 320px;
}
.price
{
	color:#0066cc;
}
